.bg-dark {
  padding: 10px;
  padding-left: 68px;
}

.hide {
  display: none;
}

.nav-link {
  cursor: pointer;
}

i {
  color: red;
}

.pointer {
  cursor: pointer;
}

h3 {
  padding: 0 16px;
}

form {
  padding: 0 16px;
}

#btnComment {
  margin: 0 auto;
}

.show {
  display: block !important;
  animation: slide-down .8s ease-out;

}
.shows{
  transition: 1s ease-in-out;
}
.card{
    transition: 1s ease-in-out;

}

@keyframes slide-down {
  0% { opacity: 0; -webkit-transform: translateY(100%); }   
100% { opacity: 1; -webkit-transform: translateY(0); }
}
